{% extends "layout.html" %}
{% block content %}
<h2>Alerts & Actions Taken</h2>
<table>
    <thead>
        <tr><th>ID</th><th>Type</th><th>User</th><th>Date</th><th>Action Taken</th></tr>
    </thead>
    <tbody>
        {% for alert in anomalies %}
        <tr>
            <td>{{ alert.id }}</td>
            <td>{{ alert.type }}</td>
            <td>{{ alert.user }}</td>
            <td>{{ alert.date }}</td>
            <td>{{ alert.action_taken }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
