<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cybersecurity Dashboard Prototype</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
</head>
<body>
    <header>
        <h1>ThreatEye Dashboard</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Overview</a></li>
                <li><a href="{{ url_for('thehive_cases') }}">The Hive</a></li>
                <li><a href="{{ url_for('misp_alerts') }}">MISP</a></li>
		        <li><a href="{{ url_for('alerts_viz') }}">Alerts Visualization</a></li>
                <li><a href="{{ url_for('networks') }}">Networks Blocked</a></li>
                <li><a href="{{ url_for('threats') }}">Threats Detected</a></li>
                <li><a href="{{ url_for('anomalies') }}">Alerts & Actions</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2025 Cybersecurity App </p>
    </footer>
</body>
</html>
